<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>


<h2><%= @user_input%></h2>
<h3>- You</h3>
<h2><%= @coach_answer%></h2>
<h3>- Your coach</h3>

<%= link_to "ask another quistion", ask_path %>
